/* 폰트: 프리텐다드 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

/* 폰트: 여기어때 잘난체 */
@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --black: #252525;
  --yellow: #ffce70;
  --yellow2: #ffb11a;
  --yellow3: #fffdf5;
  --red: #ff4545;
  --orange: #ff8a00;
  --white: #ffffff;
  --grey: #d9d9d9;
  --guideText: #a3a3a3;
}

* {
  font-family: 'Pretendard-Regular';
  color: var(--black);
}

html,
body {
  font-family: 'Pretendard-Regular';
}

.flex-row {
  display: flex;
  gap: 6px;
}
.space-between {
  justify-content: space-between;
}
